<div class="card">

  <div class="card-header text-center">
    <h4>{{petname}}</h4>
  </div>

  <div class="container-fluid">
    <div class="row">

      <div class="col-sm-5 list-container mt-3 ml-2">
        <div class="card">

        {{!-- vaccine-id is needed on an edit: --}}
        <input type="hidden" name="pet-id" value="{{id}}" />

          <div class="flex-column justify-space-around">
            <div class="display-flex justify-space-between align-center p-2">
              <h3><a class="link" href="/api/pets/{{id}}">{{petname}}</a></h3>
              <nav class="navbar navbar-dark bg-dark">
                <div class="icons">
                  <a class="link" href="/api/pets/{{id}}">Edit <i class="fas fa-user-edit text-light"></i></a>
                </div>
              </nav>
            </div>
          </div>
          
          <ul class="list-group">
            {{#if breed.length}}
              <li>Breed: [{{breed}}]</li>
            {{else}}
              <li>Breed:</li>
            {{/if}}
            {{#if dob}}
              <li>Born:  [{{format_date dob}}]</li>
            {{else}}
              <li>Born:</li>
            {{/if}}
            {{#if pet_license_file}}
              <li>License: 
                <a class="link" href="{{pet_license_file}}" target="_blank">  <i class="fas fa-file-pdf text-link"></i> View File </a>
              </li>
            {{/if}}
            <li>Last edited by {{user.username}} on {{format_date updated_at}}</li>
          </ul>

        </div>

        {{#if pet_photo.length}}
        <div class="card mt-1">
          <img id="petPic" 
            src = {{{pet_photo}}}
            alt="Picture of Pet">
        </div>
        {{else}}
        <div class="card mt-1">
          <img id="petPic" 
            src="/assets/images/PetImage.jpg"
            alt="Picture of Pet">
        </div>
        {{/if}}
      </div>

      <div class="col mt-2 ml-2">

        {{#if pet_vaccines.length}}
          {{!-- <article class="post"> --}}
          <div>
            {{#each pet_vaccines as |petVaccine| }}
              {{> pet-vaccine-info petVaccine}}
            {{/each}}
          </div>
        {{/if}}

        <div class="icons mb-2">
          {{!-- <i class="fas fa-plus text-light">Add Pet</i> --}}
          <button class="btn btn-primary w-100" id="addvaccinebtn" type="button"><i class="fas fa-plus text-light">Add Vaccine</i></button>
        </div>

      </div>

    </div>
  </div>

</div>

<script src="/js/addVaccine.js"></script>
